<%- include("partials/header"); -%>


<div>
    <h1><%= title %></h1>
    <p><%= startingContent %></p>
</div>
<% posts.forEach(function(post){ %>
    <div>
        <h1><%= post.title %></h1>
        <p><%= post.content.substring(0, 100) + "..." %> <a href="/posts/<%= post.title %>">read more</a> </p>
    </div>
<% }); %>

<%- include("partials/footer"); -%>